{% extends 'webapp/base.html' %}

{% block content %}
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{record.first_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{record.last_name}}</h6>
          <h3 class="card-text">{{record.email}}</h3>
          <h3 class="card-text">{{record.phone}}</h3>
          <a href='{% url 'delete' record.id %}' class="card-link">Delete Record</a>
          <a href='{% url 'update-record' record.id %}' class="card-link">Update Record</a>
        </div>
      </div>
</body>
{% endblock %}

